# Fichier et répertoire de configuration de projet d'eclipse
*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings

# Répertoire de travail de maven
target

# fichier temporaire de vim
*~

# Derby
derby.log