<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="Test" preserve-order="true">
    <classes>
      <class name="org.jobjects.tools.ejbcontainer.EJBContainerEmbeddedStartTest"/>
      <class name="org.jobjects.orm.person.PersonStalessTest"/>
      <class name="org.jobjects.orm.role.RoleStalessTest"/>
      <class name="org.jobjects.orm.discussion.DiscussionStalessTest"/>
      <class name="org.jobjects.orm.message.MessageStalessTest"/>
      <class name="org.jobjects.tools.ejbcontainer.EJBContainerEmbeddedStopTest"/>
    </classes>
  </test>
</suite>
