<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="2" parallel="false">
  <test name="Test" preserve-order="true">
  <groups>
    <run>
      <include name="MaSuite"/>
    </run>
  </groups>  
    <classes>
    <!--
      <class name="org.jobjects.derby.DerbyStart"/>
      <class name="org.jobjects.derby.DerbyStop"/>
    -->
      <class name="org.jobjects.derby.DerbyStart"/>
      <class name="org.jobjects.derby.EntityManagerFactoryStart"/>
      <class name="org.jobjects.orm.person.PersontFacadeImplTest"/>
      <class name="org.jobjects.derby.EntityManagerFactoryStop"/>
      <class name="org.jobjects.derby.DerbyStop"/>
    </classes>
  </test>
</suite>
